<h1>図書登録フォーム</h1>
<%= form_with model: @item, local: true, url: {action: :update} do |form| %>
  <p>
    図書名:<br>
    <%= form.text_field :name %>
  </p>

  <p>
    価格:<br>
    <%= form.number_field :price %>
  </p>

  <p>
    出版社:<br>
    <%= form.text_field :publish %>
  </p>

  <p>
    刊行日:<br>
    <%= form.text_field :publish_date %>
  </p>

  <p>
    商品画像URL:<br>
    <%= form.text_area :image_url %>
  </p>
  <%= form.submit "登録" %>
  <% end %>

<form class="" action="index.html" method="post">
</form>
