<p>
  <b>書籍名:</b><%= @item.name %>
</p>

<p>
  <b>価格:</b><%= @item.price %>
</p>

<p>
  <b>出版社:</b><%= @item.publish %>
</p>

<p>
  <b>刊行日:</b><%= @item.publish_date %>
</p>

<p>
  <img src="<%= @item.image_url %>">
</p>
